@using static ProjectFollower.Utility.ProjectConstant.WebRootPaths; 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customerpath = DIR_Customer_Main;
}

<main>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                <div class="mb-3">
                    <h1>Firmalar</h1>
                    <div class="text-zero top-right-button-container">
                        <a asp-controller="Customers" asp-action="AddCustomer"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">YENİ FİRMA EKLE</button></a>
                    </div>
                </div>

                <div class="mb-2">
                    <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                       role="button" aria-expanded="true" aria-controls="displayOptions">
                        Display Options
                        <i class="simple-icon-arrow-down align-middle"></i>
                    </a>
                    <div class="collapse d-md-block" id="displayOptions">
                        <div class="d-block d-md-inline-block">

                            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                <input placeholder="Ara..." id="tableSearch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="data-table-rows data-tables-hide-filter">
                    <table id="custTable" class="data-table data-tables-pagination responsive nowrap"
                           data-order="[[ 1, &quot;desc&quot; ]]">
                        <thead>
                            <tr>
                                <th style="visibility: hidden;"></th>
                                <th>Firma Adı</th>
                                <th>Firma Yetkilisi</th>
                                <th>Sektör</th>
                                <th style="visibility: hidden;"></th>

                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @*
                            <tr>
                                <td>
                                    <img src="img/orj/firmalar/elitdijital.png" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                </td>
                                <td>
                                    <p class="list-item-heading">Elit Dijital</p>
                                </td>
                                <td>
                                    <p class="text-muted">Alp</p>
                                </td>
                                <td>
                                    <p class="text-muted">Baskı Dizayn</p>
                                </td>
                                <td class="text-right">
                                    <a asp-controller="Customers" asp-action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                    <button type="button" class="btn btn-danger btn-sm mb-1"><i class="glyph-icon simple-icon-trash mr-1"></i>Sil</button>
                                </td>
                            </tr>
                        </tbody>*@
                        @*
                        <tbody>

                            <tr>
                                <td>
                                    <img src="img/orj/firmalar/elitdijital.png" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                </td>
                                <td>
                                    <p class="list-item-heading">Elit Dijital</p>
                                </td>
                                <td>
                                    <p class="text-muted">Alp</p>
                                </td>
                                <td>
                                    <p class="text-muted">Baskı Dizayn</p>
                                </td>
                                <td class="text-right">
                                    <a asp-controller="Customers" asp-action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                    <button type="button" class="btn btn-danger btn-sm mb-1"><i class="glyph-icon simple-icon-trash mr-1"></i>Sil</button>
                                </td>
                            </tr>

                            
                                <tr>
                                    <td>
                                        <img src="img/orj/firmalar/elitdijital.png" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Elit Dijital</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">Alp</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">Baskı Dizayn</p>
                                    </td>
                                    <td class="text-right">
                                        <a asp-controller="Customers" asp-action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                        <button type="button" class="btn btn-danger btn-sm mb-1"><i class="glyph-icon simple-icon-trash mr-1"></i>Sil</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="img/orj/firmalar/poligon.jpg" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Poligon</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">Ercan</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">Mühendislik</p>
                                    </td>
                                    <td class="text-right">
                                        <a asp-controller="Customers" asp-action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                        <button type="button" class="btn btn-danger btn-sm mb-1 delete-project"><i class="glyph-icon simple-icon-trash mr-1"></i>Sil</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="img/orj/firmalar/manypoints.png" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Many Points</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">Many Points</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">-</p>
                                    </td>
                                    <td class="text-right">
                                        <a asp-controller="Customers" asp-action="Details" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                        <button type="button" class="btn btn-danger btn-sm mb-1 delete-project"><i class="glyph-icon simple-icon-trash mr-1"></i>Sil</button>
                                    </td>
                                </tr>
                            
                        </tbody>
                        *@
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{
    <script src="/js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="/js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="/js/vendor/datatables-index.min.js"></script>

    <script>
        $(document).ready(function () {
            
            $.ajax({
                url: "jsonresult/getallcustomers",
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        /*
                        $('#companytypes').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));*/
                        var img = '@customerpath' + item.email + '/img/' + item.imageUrl;
                        var name = item.name;
                        var authname = item.authorizedName;
                        var comptype = item.companyType.name;                        
                        var htmlstr = `
                            <tr>
                                <td>
                                    <img src="`+img+`" alt="`+name+`" class="list-thumbnail responsive border-0 card-img-left" />
                                </td>
                                <td>
                                    <p class="list-item-heading">`+name+`</p>
                                </td>
                                <td>
                                    <p class="text-muted">`+authname+`</p>
                                </td>
                                <td>
                                    <p class="text-muted">`+comptype+`</p>
                                </td>
                                <td class="text-right">
                                    @*<form method="get" action="musteriler/sil/`+ item.id+`">*@
                                    <!--<input name="id" value="`+ item.id +`" hidden/>-->
                                    <input name="status" value="true" hidden/>
                                    <button type="submit" class="btn btn-danger btn-sm mb-1 delete-project" disabled><i class="glyph-icon simple-icon-trash mr-1"></i>Sil</button>
                                    <a href="/musteriler/`+ item.id +`" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                    @*</form>*@
                                    
                                </td>
                            </tr>`;
                        
                        $("#tbody").append(htmlstr);


                    });
                }
            });
        });
    </script>
}