
@{
}
<main>
    <div class="row">
        <div class="col-12">
            <div id="scheduler"></div>
        </div>
    </div>
   

</main>


@section scripts
{
    <script>

        DevExpress.localization.locale(navigator.language);
        function showToast(event, value, type) {
            DevExpress.ui.notify(`${event} "${value}" task`, type, 800);
        }
        $(document).ready(function () {
            var testdata;
            $.ajax({
                type: "GET",
                url: "/getscheduler",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    var schedulerPriorityObj = data.schedulerPriority;
                    var customersObj = data.customers;
                    $(() => {
                        $('#scheduler').dxScheduler({
                            timeZone: 'America/Los_Angeles',
                            dataSource: data,
                            views: ['agenda', 'month'],
                            currentView: 'agenda',
                            currentDate: new Date(2021, 5, 3),
                            showAllDayPanel: false,
                            height: 700,
                            crossScrollingEnabled: true,
                            cellDuration: 20,
                            editing: {
                                allowAdding: true,
                                allowDeleting: true,
                                allowUpdating: true,
                                allowResizing: true,
                                allowDragging: true,
                            },
                            onAppointmentAdded(e) {
                                showToast('Eklendi', e.appointmentData.text, 'success');
                                console.log(e.appointmentData.id);
                            },
                            onAppointmentUpdated(e) {
                                showToast('Güncellendi', e.appointmentData.text, 'info');
                                console.log(e.appointmentData.id);
                            },
                            onAppointmentDeleted(e) {
                                showToast('Silindi', e.appointmentData.text, 'warning');
                                console.log(e.appointmentData.id);
                            },
                            resources: [
                                {
                                    fieldExpr: 'id',
                                    allowMultiple: false,
                                    dataSource: customersObj,
                                    label: 'Companies',
                                }, {
                                    fieldExpr: 'id',
                                    dataSource: schedulerPriorityObj,
                                    label: 'Priority',
                                    useColorAsDefault: false,
                                }],
                            height: 600,
                        });
                    });
                    console.log(schedulerPriorityObj.id);

                }
            });

            const data = [{
                id: 1,
                text: 'Google AdWords Strategy',
                startDate: new Date("2021-05-03T16:00:00.000Z"),
                endDate: new Date('2021-05-03T16:30:00.000Z'),
                customersId: 3,
                priorityId: 2,
                description: 'sa',
                allDay: true
            }, {
                id: 2,
                text: 'New Brochures',
                startDate: new Date("2021-05-03T16:00:00.000Z"),
                endDate: new Date('2021-05-03T16:30:00.000Z'),
                customersId: 1,
                priorityId: 1,
                description: 'sa',
                allDay: true
                }];
            console.log(data);

        });





        
</script>
}





