
@{
}
<main>
    <div class="row">
        <div class="col-12">
            <div id="scheduler" Width="100%"></div>
        </div>
    </div>
   

</main>


@section scripts
{
    <script>

        DevExpress.localization.locale(navigator.language);
        function showToast(event, value, type) {
            DevExpress.ui.notify(`${event} "${value}" `, type, 800);
        }
        $(document).ready(function () {
            var testdata;
            $.ajax({
                type: "GET",
                url: "/getscheduler",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    var scheduler = data.scheduler;
                    var schedulerPriorityObj = data.schedulerPriority;
                    var customersObj = data.customers;
                    $(() => {
                        $('#scheduler').dxScheduler({
                            dataSource: scheduler,
                            type: 'shortdate',
                            views: ['agenda', 'month'],
                            currentView: 'agenda',
                            currentDate: new Date($.now()),
                            showAllDayPanel: false,
                            height: 700,
                            allDay: true,
                            FixedWidth:true,
                            crossScrollingEnabled: true,
                            cellDuration: 20,
                            editing: {
                                allowAdding: true,
                                allowDeleting: true,
                                allowUpdating: true,
                                allowResizing: true,
                                allowDragging: true,
                            },
                            onAppointmentAdded(e) {
                                $.ajax({
                                    type: "POST",
                                    url: "/postscheduler",
                                    data: JSON.stringify(e.appointmentData),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        showToast('Güncellendi', e.appointmentDatatext, 'info');
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                                
                            },
                            onAppointmentUpdated(e) {
                                $.ajax({
                                    type: "POST",
                                    url: "/updatescheduler",
                                    data: JSON.stringify(e.appointmentData),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        showToast('Güncellendi', e.appointmentDatatext, 'info');
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            },
                            onAppointmentDeleted(e) {
                                showToast('Silindi', e.appointmentData.text, 'warning');
                                console.log(e.appointmentData.id);
                            },
                            resources: [
                                {
                                    fieldExpr: 'customersId',
                                    allowMultiple: false,
                                    dataSource: customersObj,
                                    label: 'Firma',
                                    useColorAsDefault: false,
                                }, {
                                    fieldExpr: 'priorityId',
                                    dataSource: schedulerPriorityObj,
                                    label: 'Durum',
                                    useColorAsDefault: true,
                                }],
                            height: 600,
                        });
                    });
                }
            });

        });





        
</script>
}





