
@{
}

<style>
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        margin-top: 10px;
        display: inline-block;
    }
    .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
        padding: 14px;
    }

/*    .showtime-preview > div:first-child {
        font-size: 12px;
        white-space: normal;

    }
    .showtime-preview {
        width: 100%;
        border-radius: 5px;
        padding-left: 5px;
    }


   .showtime-preview > div:not(:first-child) {
        font-size: 11px;
        white-space: normal;
    }
        */
    .movie-tooltip .movie-info {
        margin-left: 10px;
        vertical-align: top;
        text-align: left;
    }

    .movie-tooltip .movie-title {
        font-size: 1.5em;
        line-height: 40px;
    }

    .long-title h3 {
        font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
        font-weight: 200;
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

</style>
<main>
    <div class="row">
        <div class="col-12">
            <div id="scheduler"></div>
        </div>
    </div>
   

</main>


@section scripts
{
    <script>
        DevExpress.localization.locale(navigator.language);
        function showToast(event, value, type) {
            DevExpress.ui.notify(`${event} "${value}" task`, type, 800);
        }
        $(() => {
            $('#scheduler').dxScheduler({
                timeZone: 'America/Los_Angeles',
                dataSource: data,
                views: [{
                    type: 'month',
                    name: 'Auto Mode',
                    maxAppointmentsPerCell: 'auto',
                }, {
                    type: 'month',
                    name: 'Unlimited Mode',
                    maxAppointmentsPerCell: 'unlimited',
                }, {
                    type: 'month',
                    name: 'Numeric Mode',
                    maxAppointmentsPerCell: 4,
                }],
                currentView: 'Auto Mode',
                currentDate: new Date(2021, 3, 27),
                showAllDayPanel: false,
                height: 700,
                crossScrollingEnabled: true,
                cellDuration: 20,
                editing: {
                    allowAdding: true,
                    allowDeleting: true,
                    allowUpdating: true,
                    allowResizing: true,
                    allowDragging: true,
                },
                onAppointmentAdded(e) {
                    showToast('Eklendi', e.appointmentData.id, 'success');
                    $.each(data, function (index, val) {
                        console.log(val.price);
                    });
                },
                onAppointmentUpdated(e) {
                    showToast('Güncellendi', e.appointmentData.id, 'info');
                    $.each(data, function (index, val) {
                        console.log(val.price);
                    });
                },
                onAppointmentDeleted(e) {
                    showToast('Silindi', e.appointmentData.id, 'warning');
                    $.each(data, function (index, val) {
                        console.log(val.price);
                    });
                },
                resources: [{
                    fieldExpr: 'id',
                    dataSource: data,
                },
                    {
                        fieldExpr: 'priortyId',
                        dataSource: priortyData,
                        useColorAsDefault: true,
                    }],
                appointmentTooltipTemplate(model) {
                    return getTooltipTemplate(getMovieById(model.targetedAppointmentData.id));
                },
                appointmentTemplate(model) {
                    const movieInfo = getMovieById(model.appointmentData.movieId) || {};

                    return $(`${"<div class='dx-scheduler-agenda-appointment-left-layout'><div class='dx-scheduler-agenda-appointment-marker';>"
                        + '</div></div><div class="dx-scheduler-agenda-appointment-right-layout"><div class="dx-scheduler-appointment-title">'}${model.targetedAppointmentData.projectName}</div>`
                        + '</div>');
                },
                onAppointmentFormOpening(data) {
                    const { form } = data;
                    let movieInfo = getMovieById(data.appointmentData.movieId) || {};
                    let { startDate } = data.appointmentData;

                    form.option('items', [{
                        label: {
                            text: 'Konu',
                        },
                        editorType: 'dxTextBox',
                        dataField: 'projectName',
                        editorOptions: {
                            items: data,
                            displayExpr: 'text',
                            valueExpr: 'projectName',
                        },
                    }, {
                        label: {
                            text: 'Açıklama',
                        },
                        name: 'director',
                        dataField: 'director',
                        editorType: 'dxTextBox',
                    }, {
                        dataField: 'startDate',
                        editorType: 'dxDateBox',
                        editorOptions: {
                            width: '100%',
                            type: 'date',
                        },
                    }, {
                        name: 'endDate',
                        dataField: 'endDate',
                        editorType: 'dxDateBox',
                        editorOptions: {
                            width: '100%',
                            type: 'datetime',
                            readOnly: true,
                        },
                    }, {
                        dataField: 'priortyId',
                        editorType: 'dxRadioGroup',
                        editorOptions: {
                            value: movieInfo.priortyId,
                            dataSource: ['Normal', 'Acil'],
                        },
                    },
                    ]);
                },
            }).dxScheduler('instance');

            function getMovieById(id) {
                return DevExpress.data.query(data)
                    .filter('id', id)
                    .toArray()[0];
            }

            function getTooltipTemplate(movieData) {
                return $(`${"<div class='movie-tooltip'>"}`
                    + '<div class=\'movie-info\'>'
                    + `<div class='movie-title'>${movieData.projectName} (${movieData.priorty})`
                    + '</div>'
                    + '<div>'
                    + `Firma: ${movieData.companyName
                    }</div>`
                    + '<div>'
                    + `Duration: ${movieData.startDate.displayStartDate,'shortDate'} minutes`
                    + '</div>'
                    + '</div>'
                    + '</div>');
            }
        });

            

        const moviesData = [{
            id: 1,
            text: 'His Girl Friday',
            director: 'Howard Hawks',
            year: 1940,
            duration: 92,
            
        }, {
            id: 2,
            text: 'Royal Wedding',
            director: 'Stanley Donen',
            year: 1951,
            duration: 93,
        }, {
            id: 3,
            text: 'A Star Is Born',
            director: 'William A. Wellman',
            year: 1937,
            duration: 111,
            
        }, {
            id: 4,
            text: 'The Screaming Skull',
            director: 'Alex Nicol',
            year: 1958,
            duration: 68,
        }, {
            id: 5,
            text: "It's a Wonderful Life",
            director: 'Frank Capra',
            year: 1946,
            duration: 130,
        }, {
            id: 6,
            text: 'City Lights',
            director: 'Charlie Chaplin',
            year: 1931,
            duration: 87,
        }];

        const priortyData = [{
            text: 'Normal',
            id: 0,
            color: '#4797fb',
        }, {
            text: 'Acil',
            id: 1,
            color: '#fb4747',
        },
        ];

        const data = [{
            id: 1,
            companyName: 'Many Points',
            projectName: 'Emre',
            priorty: 'Acil',
            startDate: new Date('2021-04-26T16:10:00.000Z'),
            endDate: new Date('2021-04-26T18:01:00.000Z'),
        }
        ];

</script>
}





