
@{
}

<style>
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        margin-top: 10px;
        display: inline-block;
    }
    .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
        padding: 14px;
    }

/*    .showtime-preview > div:first-child {
        font-size: 12px;
        white-space: normal;

    }
    .showtime-preview {
        width: 100%;
        border-radius: 5px;
        padding-left: 5px;
    }


   .showtime-preview > div:not(:first-child) {
        font-size: 11px;
        white-space: normal;
    }
        */
    .movie-tooltip .movie-info {
        margin-left: 10px;
        vertical-align: top;
        text-align: left;
    }

    .movie-tooltip .movie-title {
        font-size: 1.5em;
        line-height: 40px;
    }

    .long-title h3 {
        font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
        font-weight: 200;
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

</style>
<main>
    <div class="row">
        <div class="col-12">
            <div id="scheduler"></div>
        </div>
    </div>
   

</main>


@section scripts
{
    <script>
        DevExpress.localization.locale(navigator.language);
        function showToast(event, value, type) {
            DevExpress.ui.notify(`${event} "${value}" task`, type, 800);
        }
        $(() => {
            $('#scheduler').dxScheduler({
                timeZone: 'America/Los_Angeles',
                dataSource: data,
                views: ['agenda', 'month'],
                currentView: 'agenda',
                currentDate: new Date(2021, 4, 11),
                showAllDayPanel: false,
                height: 700,
                crossScrollingEnabled: true,
                cellDuration: 20,
                editing: {
                    allowAdding: true,
                    allowDeleting: true,
                    allowUpdating: true,
                    allowResizing: true,
                    allowDragging: true,
                },
                onAppointmentAdded(e) {
                    showToast('Eklendi', e.appointmentData.projectName, 'success');
                    $.each(data, function (index, val) {
                        console.log(val.price);
                    });
                },
                onAppointmentUpdated(e) {
                    showToast('Güncellendi', e.appointmentData.projectName, 'info');
                    $.each(data, function (index, val) {
                        console.log(val.price);
                    });
                },
                onAppointmentDeleted(e) {
                    showToast('Silindi', e.appointmentData.projectName, 'warning');
                    $.each(data, function (index, val) {
                        console.log(val.price);
                    });
                },
                resources: [
                    {
                        fieldExpr: 'assigneeId',
                        allowMultiple: true,
                        dataSource: assignees,
                        label: 'Assignee',
                    }, {
                        fieldExpr: 'priorityId',
                        dataSource: priorities,
                        label: 'Priority',
                        useColorAsDefault: true,
                    }],
                height: 600,
            });
        });
        const assignees = [{
            text: 'Samantha Bright',
            id: 1,
        }, {
            text: 'John Heart',
            id: 2,
        }, {
            text: 'Todd Hoffman',
            id: 3,
        }, {
            text: 'Sandra Johnson',
            id: 4,
        }];

        const priorities = [{
            text: 'High',
            id: 1,
            color: '#cc5c53',
        }, {
            text: 'Low',
            id: 2,
            color: '#ff9747',
        }];

        const data = [{
            text: 'Google AdWords Strategy',
            startDate: new Date('2021-05-03T16:00:00.000Z'),
            endDate: new Date('2021-05-03T17:30:00.000Z'),
            assigneeId: 3,
            priorityId: 1,
        }, {
            text: 'New Brochures',
            startDate: new Date('2021-05-03T18:30:00.000Z'),
            endDate: new Date('2021-05-03T21:15:00.000Z'),
            assigneeId: 1,
            priorityId: 1,
        }];

</script>
}





