@{
    ViewData["Title"] = "NewUser";
}

@model ProjectFollower.Models.ViewModels.UserRegisterVM

<main>

    <div class="container-fluid project-creator">
        <div class="row">
            <div class="col-12">
                <h1>Yeni Kullanıcı</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Users" asp-action="Index">Kullanıcılar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Yeni Kullanıcı</a>
                        </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <form method="post" id="account" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Yeni Kullanıcı</h5>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show rounded mb-2 mt-2" role="alert">

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <div>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <input class="form-control" type="text" id="firstname" asp-for="FirstName" required />
                                    <span>Adın</span>
                                </label>
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <input class="form-control" type="text" id="lastname" asp-for="Lastname" required />
                                    <span>Soyadın</span>
                                </label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <input class="form-control" type="email" id="email" asp-for="Email" required />
                                    <span>E-posta adresi</span>
                                </label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <input class="form-control" type="password" id="password" asp-for="Password" required />
                                    <span>Kullanıcı Şifresi</span>
                                </label>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <select class="form-control select-single" data-width="100%" id="departments" asp-for="DepartmentId" required>
                                        <option hidden value="">Lütfen Personelinizin pozisyonunu seçiniz..</option>
                                    </select>
                                    <span>Pozisyonu</span>
                                </label>
                                @*
        <label class="form-group has-top-label">
        <input class="form-control" />
        <span>Pozisyonu</span>
        </label>
                                *@
                                <div class="input-group mb-3 file-avatar ">
                                    <label class="custom-select custom-select-label" for="file-upload"></label>
                                    <input type="file" class="d-none" name="file-upload" id="file-upload" />
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="file-upload">Fotoğraf Yükle</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">

                <button class="btn btn-primary btn-lg mr-3" type="submit" onclick="return validateInput()"><i class="iconsminds-add"></i> Kullanıcı Oluştur</button>
                <button class="btn btn-danger btn-lg" asp-controller="Users" asp-action="Index"><i class="iconsminds-close"></i>İptal Et</button>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            console.log("loaded!");
            $.ajax({
                url: "jsonresult/getdepartmentsjson",
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        console.log(item.name);
                        $('#departments').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                }
            });

            function validateInput() {
                if (document.getElementById("uploadBox").value == "") {
                    swal('Dikkat', "Resim seçmeden ürün eklemeye çalışıyorsunuz. Ürün ekleme başarısız!", "warning");
                    return false;
                }
            }

            @{ if (Model.ModalMessage.Status==true)
                {
                    <text>
            Swal.fire({
                title: '@Model.ModalMessage.Message',
                showCancelButton: false,
                icon: '@Model.ModalMessage.Icon',
                confirmButtonText: 'Tamam'
            })
            </text>
        }
    }
        });
    </script>
}