
@{
    Layout = null;
}
@model ProjectFollower.Models.ViewModels.SignInInput




@*<partial name="_LoginPartial" />*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Many Points</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="background show-spinner no-footer">
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">
                            <p class=" text-white h2">Many Points <br> Proje Takip Sistemi</p>
                            <p class="white mb-0">
                                Lütfen şifrenizi girin.
                                <br>Eğer üye değilseniz lütfen pencereyi
                                <a href="https://www.google.com/" class="white">kapatın</a>.
                            </p>
                        </div>
                        <div class="form-side">
                            <a href="Dashboard.Default.html">
                                <span class="logo-single"></span>
                            </a>
                            <h6 class="mb-4">Giriş Bilgileri</h6>
                            <form method="post" id="account">
                                @*<div asp-validation-summary="All" class="badge-warning shadow-2"></div>*@

                                <div asp-validation-summary="ModelOnly" class="alert alert-warning alert-dismissible fade show rounded mb-2 mt-2" role="alert">

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>


                                <label class="form-group has-float-label mb-4">
                                    <input class="form-control" placeholder="Mailinizi Giriniz" asp-for="Email" required />
                                    <span>E-posta</span>
                                </label>
                                <label class="form-group has-float-label mb-4">
                                    <input class="form-control" type="password" placeholder="Şifrenizi Giriniz" asp-for="Password" required />
                                    <span>Şifre</span>
                                </label>

                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#">Şifreni mi unuttun?</a>
                                    <button class="btn btn-primary btn-lg btn-shadow" type="submit">GİRİŞ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/dore.script.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}