@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    int seq = 0;

}

<main>
    @*
        <div class="alert alert-danger alert-dismissible fade show rounded mb-4" role="alert"><strong>Dikkat!</strong> Termini geçmiş 1 adet projeniz bulunmakta. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
    *@
    <div id="mp-attention">

    </div>

    @*
    <div id="messageTxt"></div>
    <div class="form-inline">
        <input id="messageTextbox" />
        <input id="btnSend" class="btn btn-success" type="button"/>
    </div>
    *@
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                <div class="mb-3">
                    <h1>Projeler</h1>
                    <div class="text-zero top-right-button-container">
                        <a asp-controller="Home" asp-action="ProjectNew"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">YENİ PROJE EKLE</button></a>
                    </div>
                </div>

                <div class="mb-2">
                    <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                       role="button" aria-expanded="true" aria-controls="displayOptions">
                        Display Options
                        <i class="simple-icon-arrow-down align-middle"></i>
                    </a>
                    <div class="collapse d-md-block" id="displayOptions">
                        <div class="d-block d-md-inline-block">

                            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                <input placeholder="Ara..." id="tableSearch">
                            </div>
                        </div>
                        <div class="float-md-right">
                            <div class="form-group row mb-1 mr-2">
                            <label class=" d-flex align-items-center mr-2 text-muted"><b>Arşivlenmiş Projeler</b></label>
                                    <div class="custom-switch custom-switch-secondary-inverse mb-2">
                                        <input class="custom-switch-input" id="switch4" type="checkbox"> 
                                        <label class="custom-switch-btn" for="switch4"></label>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator mb-4"></div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="data-table-rows data-tables-hide-filter">
                    <table id="datatableRow" class="data-table data-tables-pagination responsive nowrap"
                           data-order="[[ 1, &quot;desc&quot; ]]">
                        <thead>
                            <tr>
                                <th style="visibility: hidden;"></th>
                                <th>Firma Adı</th>
                                <th>Proje Adı</th>
                                <th>Deadline</th>
                                <th>Durum</th>
                                <th style="visibility: hidden;"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="tbody">
                            @*
                                <tr class="cardd">
                                    <td>
                                        <img src="img/orj/firmalar/elitdijital.png" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Elit Dijital Logo Tasarımı</p>
                                    </td>
                                    <td>
                                        <p>Elit Dijital</p>
                                    </td>
                                    <td>
                                        <p>05.01.2022</p>
                                    </td>
                                    <td>
                                        <p class="d-none">3</p><span class="badge badge-pill badge-primary">TAMAMLANDI</span>
                                    </td>
                                    <td class="text-center">
                                        <a asp-controller="Home" asp-Action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                    </td>
                                </tr>
                                <tr class="cardd">
                                    <td>
                                        <img src="img/orj/firmalar/poligon.jpg" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Poligon Logo Tasarımı</p>
                                    </td>
                                    <td>
                                        <p>Poligon Mühendislik</p>
                                    </td>
                                    <td>
                                        <p>08.02.2022</p>
                                    </td>
                                    <td>
                                        <p class="d-none">2</p><span class="badge badge-pill badge-secondary">MÜŞTERİ ONAYINDA</span>
                                    </td>
                                    <td class="text-center">
                                        <a asp-controller="Home" asp-Action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>

                                    </td>
                                </tr>
                                <tr class="cardd">
                                    <td>
                                        <img src="img/orj/firmalar/manypoints.png" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Many Points Post</p>
                                    </td>
                                    <td>
                                        <p>Many Points</p>
                                    </td>
                                    <td>
                                        <p>07.01.2022</p>
                                    </td>
                                    <td>
                                        <p class="d-none">1</p><span class="badge badge-pill badge-warning">YAPIM AŞAMASINDA</span><span class="badge badge-pill badge-danger ml-3">Proje Gecikmiş!</span>
                                    </td>
                                    <td class="text-center">
                                        <a asp-controller="Home" asp-Action="Details" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                    </td>
                                </tr>
                                <tr class="cardd">
                                    <td>
                                        <img src="img/orj/firmalar/poligon.jpg" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left" />
                                    </td>
                                    <td>
                                        <p class="list-item-heading">Poligon Video Tasarımı</p>
                                    </td>
                                    <td>
                                        <p>Poligon Mühendislik</p>
                                    </td>
                                    <td>
                                        <p>10.01.2022</p>
                                    </td>
                                    <td>
                                        <p class="d-none">1</p><span class="badge badge-pill badge-info">YENİ</span>
                                    </td>
                                    <td class="text-center">
                                        <a asp-controller="Home" asp-Action="Details" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                    </td>
                                </tr>
                            *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts
{
    <script src="/js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="/js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="/js/vendor/datatables-index.min.js"></script>

    <script>
        $(document).ready(function () {


            var arcStatus = 0;
            console.log("ready!");
            $("#tbody").html("");

            function voidAjx() {
                $.ajax({
                    type: "GET",
                    url: "/jsonresult/getprojectlist/" + arcStatus,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $("#tbody").text("");
                        
                        $.each(data.projects, function (i, item) {
                            var img = "";
                            var name = item.name;
                            var status = "";
                            var endingData = item.endingDate;
                            var custImage = item.customers.imageUrl;
                            var custName = item.customers.name;
                            var sequence = item.projectSequence;
                            var dateSequence = item.sequanceDate;
                            //var comptype = item.companyType.name;
                            if (item.status == 0)
                                status = `<span class="badge badge-pill badge-info">YENİ</span>`;
                            if (item.status == 1)
                                status = `<span class="badge badge-pill badge-secondary">MÜŞTERİ ONAYINDA</span>`;
                            if (item.status == 2)
                                status = `<span class="badge badge-pill badge-warning">YAPIM AŞAMASINDA</span><span class="badge badge-pill badge-danger ml-3">Proje Gecikmiş!</span>`;
                            if (item.status == 3)
                                status = `<span class="badge badge-pill badge-primary">TAMAMLANDI</span>`;

                            var htmlstr = `
                                    <tr class="cardd">
                                        <td>
                                            <img src="`+ img + `" alt="` + name + `" class="list-thumbnail responsive border-0 card-img-left" />
                                        </td>
                                        <td>
                                            <p class="d-none">`+ dateSequence + `</p> <p>` + custName + `</p>
                                        </td>
                                        <td>
                                            <p class="list-item-heading">`+ name + `</p>
                                        </td>
                                        <td>
                                            <p class="d-none">`+ dateSequence + `</p> <p>` + endingData + `</p>
                                        </td>
                                        <td>
                                            <p class="d-none">`+ sequence + `</p>` + status + `
                                        </td>
                                        <td class="text-center">
                                            <a href="/proje-detaylari/`+item.id+`" type="button" class="btn btn-secondary btn-sm mb-1"><i class="glyph-icon simple-icon-info mr-1"></i>Detaylar</a>
                                        </td>
                                    </tr>
`;

                            $("#tbody").append(htmlstr);


                        });


                        var alertstr = `
        <div class="alert alert-danger alert-dismissible fade show rounded mb-4" role="alert"><strong>Dikkat!</strong> Termini geçmiş `+ data.delayedProjects + ` adet projeniz bulunmakta. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
`;
                        if (data.delayedProjects > 0)
                            $("#mp-attention").html(alertstr);


                        
                    }
                });
            }


            voidAjx();


        });
    </script>
}