
@{
    ViewData["Title"] = "Details";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h1>Poligon Logo Tasarımı</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="#">Projeler</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="#">Poligon Logo Tasarımı</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-xl-8 col-left">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                   aria-controls="first" aria-selected="true">Proje Detayı</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                                   aria-controls="second" aria-selected="false">Dosyalar(5)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="first" role="tabpanel"
                                 aria-labelledby="first-tab">

                                <p class="font-weight-bold">Proje Açıklaması</p>
                                <p>
                                    Vivamus ultricies augue vitae commodo condimentum. Nullam
                                    faucibus eros eu mauris feugiat, eget consectetur tortor tempus. Sed volutpat
                                    mollis dui eget fringilla. Vestibulum blandit urna ut tellus lobortis tristique.
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Pellentesque quis cursus mauris. Nam in ornare erat. Vestibulum convallis
                                    enim ac massa dapibus consectetur. Maecenas facilisis eros ac felis mattis, eget
                                    auctor sapien varius.
                                    <br />
                                    <br />
                                    Nulla non purus fermentum, pulvinar dui condimentum,
                                    malesuada nibh. Sed viverra quam urna, at condimentum ante viverra non. Mauris
                                    posuere erat sapien, a convallis libero lobortis sit amet. Suspendisse in orci
                                    tellus.
                                </p>
                                <br />

                                <p class="font-weight-bold">Görevler</p>
                                <ul>
                                    <li>
                                        Nulla non purus fermentum, pulvinar dui condimentum, malesuada nibh.
                                    </li>
                                    <li>
                                        Vivamus ultricies augue vitae commodo condimentum.
                                    </li>
                                    <li>
                                        Pellentesque quis cursus mauris. Nam in ornare erat. Vestibulum convallis enim ac massa dapibus consectetur.
                                    </li>
                                </ul>
                                <br />
                                <p class="font-weight-bold">Projede Görev Alanlar</p>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">İsim</th>
                                            <th scope="col">Pozisyon</th>
                                            <th scope="col">Görev</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Emre</td>
                                            <td>Front-end Developer</td>
                                            <td>Websitesi Tasarımı</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Buğra</td>
                                            <td>Back-end Developer</td>
                                            <td>Database</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                <div class="d-flex flex-row mb-3 border-bottom">
                                    <div class="p-0 position-relative tab-icon">
                                        <div class="preview-container">
                                            <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                            <i class="simple-icon-doc preview-icon"></i>
                                        </div>
                                    </div>
                                    <div class="pl-3 w-80 dz-details position-relative">
                                        <div>
                                            <span data-dz-name="">baktek.docx</span>
                                        </div>
                                        <div class="text-primary text-extra-small" data-dz-size="">
                                            <strong>16.4</strong> KB
                                        </div>
                                    </div>
                                    <a href="#/" class="download-icon" data-dz-remove="">
                                        <i class="glyph-icon simple-icon-cloud-download"></i>
                                    </a>
                                </div>
                                <div class="d-flex flex-row mb-3 border-bottom">
                                    <div class="p-0 position-relative tab-icon">
                                        <div class="preview-container">
                                            <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                            <i class="simple-icon-doc preview-icon"></i>
                                        </div>
                                    </div>
                                    <div class="pl-3 w-80 dz-details position-relative">
                                        <div>
                                            <span data-dz-name="">baktek.docx</span>
                                        </div>
                                        <div class="text-primary text-extra-small" data-dz-size="">
                                            <strong>16.4</strong> KB
                                        </div>
                                    </div>
                                    <a href="#/" class="download-icon" data-dz-remove="">
                                        <i class="glyph-icon simple-icon-cloud-download"></i>
                                    </a>
                                </div>
                                <div class="d-flex flex-row mb-3 border-bottom">
                                    <div class="p-0 position-relative tab-icon">
                                        <div class="preview-container">
                                            <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                            <i class="simple-icon-doc preview-icon"></i>
                                        </div>
                                    </div>
                                    <div class="pl-3 w-80 dz-details position-relative">
                                        <div>
                                            <span data-dz-name="">baktek.docx</span>
                                        </div>
                                        <div class="text-primary text-extra-small" data-dz-size="">
                                            <strong>16.4</strong> KB
                                        </div>
                                    </div>
                                    <a href="#/" class="download-icon" data-dz-remove="">
                                        <i class="glyph-icon simple-icon-cloud-download"></i>
                                    </a>
                                </div>
                                <div class="d-flex flex-row mb-3 border-bottom">
                                    <div class="p-0 position-relative tab-icon">
                                        <div class="preview-container">
                                            <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                            <i class="simple-icon-doc preview-icon"></i>
                                        </div>
                                    </div>
                                    <div class="pl-3 w-80 dz-details position-relative">
                                        <div>
                                            <span data-dz-name="">baktek.docx</span>
                                        </div>
                                        <div class="text-primary text-extra-small" data-dz-size="">
                                            <strong>16.4</strong> KB
                                        </div>
                                    </div>
                                    <a href="#/" class="download-icon" data-dz-remove="">
                                        <i class="glyph-icon simple-icon-cloud-download"></i>
                                    </a>
                                </div>
                                <div class="d-flex flex-row mb-3 border-bottom">
                                    <div class="p-0 position-relative tab-icon">
                                        <div class="preview-container">
                                            <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                            <i class="simple-icon-doc preview-icon"></i>
                                        </div>
                                    </div>
                                    <div class="pl-3 w-80 dz-details position-relative">
                                        <div>
                                            <span data-dz-name="">baktek.docx</span>
                                        </div>
                                        <div class="text-primary text-extra-small" data-dz-size="">
                                            <strong>16.4</strong> KB
                                        </div>
                                    </div>
                                    <a href="#/" class="download-icon" data-dz-remove="">
                                        <i class="glyph-icon simple-icon-cloud-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-4 col-right">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 p-0 m-0 d-flex justify-content-center align-items-center">
                                <h1 class="p-0 m-0">Poligon Mühendislik</h1>
                            </div>
                            <div class="col-4">
                                <img src="/img/orj/firmalar/poligon.jpg" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left ml-2" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 p-0 m-0 text-center">
                                <p class="text-muted text-small mb-2">Proje Statüsü</p>
                                <p class="mb-3">
                                    <span class="badge badge-pill badge-warning mb-1">YAPIM AŞAMASINDA</span>
                                </p>
                            </div>
                            <div class="col-6 p-0 m-0  text-center">
                                <p class="text-muted text-small mb-2">Proje Deadline</p>
                                <p class="mb-3">
                                    <span class="badge badge-pill badge-info mb-1">10.01.2022</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

