
@{
    ViewData["Title"] = "ProjectNew";
}

<main>
    <div class="container-fluid project-creator">
        <div class="row">
            <div class="col-12">

                <h1>Proje Oluştur</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Projeler</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Yeni Proje</a>
                        </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <form>
            <div class="row">
                <div class="col-12 col-xl-8 mb-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Yeni Proje</h5>
                            <div>
                                <label class="form-group has-top-label">
                                    <input class="form-control" />
                                    <span>Proje Adı</span>
                                </label>
                                <label class="form-group has-top-label">
                                    <select class="form-control select-single" data-width="100%">
                                        <option value="AK">Many Points</option>
                                        <option value="HI">Expert</option>
                                        <option value="CA">Poligon</option>
                                    </select>
                                    <span>Firma Adı</span>
                                </label>
                                <label class="form-group has-top-label">
                                    <input class="form-control datepicker" placeholder="" />
                                    <span>Öngörülen Bitiş Tarihi</span>
                                </label>
                                <label class="form-group has-top-label">
                                    <select class="form-control select2-multiple" multiple="multiple" data-width="100%">
                                        <optgroup label="Grafik Tasarım">
                                            <option value="AK">Ayşe</option>
                                            <option value="HI">Kubilay</option>
                                        </optgroup>
                                        <optgroup label="Sosyal Medya">
                                            <option value="CA">Niran</option>
                                            <option value="damla">Damla</option>
                                        </optgroup>
                                        <optgroup label="Video">
                                            <option value="cihangir">Cihangir</option>
                                        </optgroup>
                                        <optgroup label="Yazılım">
                                            <option value="emre">Emre</option>
                                            <option value="bugra">Buğra</option>
                                        </optgroup>
                                        <option value="TNOGZ" disabled="disabled">The Twilight Zone</option>
                                        <option value="TPZ">Herkes</option>
                                    </select>
                                    <span>Proje Üyeleri</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 mb-4 ">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="mb-4">Takvim</h5>
                            <div class="form-group">
                                <div class="date-inline">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Proje Görevleri</h5>
                            <label class="form-group has-top-label">
                                <input class="form-control" id="mission-textbox" style="display: inline-block;" id="mission-textbox">
                                <span>Görev Tanımı</span>
                            </label>
                            <button type="button" class="btn btn-outline-secondary mb-1" id="mission-add">Görev Ekle</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <table class="data-table-standard responsive nowrap"
                                   data-order="[[ 1, &quot;desc&quot; ]]">
                                <thead>
                                    <tr>
                                        <th>Görev Tanımı</th>
                                        <th class="d-none"></th>
                                    </tr>
                                </thead>
                                <tbody id="mission-list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body ">
                            <h5 class="mb-4">Proje Açıklaması</h5>
                            <div id="quillEditor" style="min-height: 10rem;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body ">
                            <h5 class="mb-4">Proje Dosyaları</h5>
                            <form action="/file-upload">
                                <div class="dropzone">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <a href="index.php"><button class="btn btn-danger btn-lg"><i class="iconsminds-close"></i>İptal Et</button></a>
                <button class="btn btn-primary btn-lg mr-3" type="submit"><i class="iconsminds-add"></i> Proje Oluştur</button>

            </div>
        </form>
    </div>
</main>


@section scripts
{
    <script src="/js/vendor/quill.min.js"></script>
    <script src="/js/vendor/datatables.min.js"></script>

}

